/* variables */ 
$dark-color: #333e4e;
$default-color: #fff;

/* mixins */ 
@mixin flexGroup {
  display: flex;
  flex-direction: column;
}

@mixin colorGroup {
  background-color: $dark-color;
  color: $default-color;
}

.info {
  background-color: $dark-color;
  color: white;
  @include flexGroup();
  align-items: center;
  border-radius: 8px;
  padding: 1rem;

  h2 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
    text-align: center;
  }
}

.social {
  @include colorGroup();
  border-radius: 8px;
  padding: 1rem;

  h2 {
    font-size: 1rem;
  }
}

.link {
  a {
    margin-right: 1rem;
    text-decoration: none;
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}

.picture {
  display: flex;
  justify-content: center;
  padding: 3rem;

  img {
    width: 250px;
    border-radius: 50%;
  }
}