@use 'vendors';

/* variables */ 
$dark-color: #333e4e;
$default-color: #fff;
$font-color1: #3f7a71;

/* mixins */
@mixin flexGroup {
  display: flex;
  flex-direction: column;
}

@mixin colorGroup {
  background-color: $dark-color;
  color: $default-color;
}

/* styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 85%;
  position: absolute;
  top: 0;
  left: 15%;
  background-color: $default-color;
  color: $font-color1;
  padding: 1rem;
}

.listStory {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding-block: 1rem;
  gap: 1rem;
}

.storyItem {
  border: 1px solid #333e4e;
  border-radius: 4px;
  @include flexGroup();
  align-items: center;

  .storyImage {
    width: 100%;
    border-radius: 4px 4px 0 0;
  }

  .storyName {
    font-size: 1.3rem;
  }

  .storyDesc {
    padding: 1rem;
    line-height: 1.5;
    @include flexGroup();
    gap: 0.5rem;
  }
}

.info {
  background-color: $dark-color;
  color: white;
  @include flexGroup();
  align-items: center;
  border-radius: 8px;
  padding: 1rem;

  h2 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
    text-align: center;
  }
}

.social {
  @include colorGroup();
  border-radius: 8px;
  padding: 1rem;

  h2 {
    font-size: 1rem;
  }
}

.picture {
  display: flex;
  justify-content: center;
  padding: 1rem;
}