<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <main>
      <navbar-section></navbar-section>

      <h1>About Developer</h1>

      <section class="picture">
        <img src="developer.jpg" alt="Developer Image">
      </section>
      
      <section class="info">
        <h2>Sesilia Pandejlaki</h2>
        <p>Mahasiswa</p>
        <p>Asal: Manado, Indonesia</p>
      </section>

      <section class="social">
        <h2>Sosial Media</h2>
        <p>Email: mutiarapandejlaki47@gmail.com</p>
        <a href="https://github.com/srmpandejlaki">GitHub</a>
        <a href="https://www.linkedin.com/in/sesilia-pandejlaki/">LinkedIn</a>
        <a href="https://www.instagram.com/mutiarapandejlaki27/?hl=en">Instagram</a>
      </section>
    </main>
  </body>