<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />

    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <main>
      <navbar-section></navbar-section>

      <section class="container">
        <h1>About Developer</h1>
  
        <article class="picture">
          <img src="Foto3.jpg" alt="Developer Image">
        </article>
        
        <div class="aboutDev row g-3">
          <info-developer class="col-12 col-md-6"></info-developer>
    
          <social-developer class="col-12 col-md-6"></social-developer>
        </div>
      </section>
    </main>
  </body>