<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />

    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <main>
      <section class="container">
        <navbar-section></navbar-section>
        
        <h1>Form Tambah Story</h1>

        <form-section></form-section>

        <section class="back">
            <small>Note: Deskripsi dan Gambar harus diisi.</small>
        </section>
      </section>
    </main>
  </body>
</html>