<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form tambah story</title>
</head>
<body>
    <main>
        <h1>Form Tambah Story</h1>

        <form-section minTitleLength="10" withPlaceholder></form-section>

        <section class="back">
            <a href="/story">Kembali ke daftar story</a>
            <br><br>
            <small>Note: Judul dan penulis harus diisi.</small>
        </section>
    </main>
</body>
</html>