<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <main>
      <navbar-section></navbar-section>
      
      <div class="container">
        <!-- Your story content -->
          <h1>Welcome to My Story App!</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus,
            ligula in fermentum ullamcorper, neque libero convallis nunc, vel
            consectetur neque neque ut nunc. Nulla facilisi. Sed vulputate, mauris
            vel bibendum dignissim, nunc justo viverra nunc, ac fringilla metus
            lectus vel velit.
          </p>
          <section class="listStory">
            <!-- Your story list -->
            <story-item></story-item>
          </section>
      </div>
    </main>
  </body>
</html>
